DATABASE_URL=postgresql://neondb_owner:npg_kHiea4U1XuSI@ep-hidden-haze-atjk0wcj-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GOOGLE_CLIENT_ID=your_google_client_id_here
JWT_SECRET=your_jwt_secret_here
PORT=3001
